.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: hsl(0, 0%, 96%);
    width: 100%;
    border-bottom: 1.5px hsla(0, 0%, 80%) solid;
    padding-left: 15%;
    padding-right: 15%;
}
.nav-links{
    display: flex;
    margin: 0;
    list-style-type: none;
}
.navbar li{
    display: flex;
    color: white;
}
.navbar a{
    color: hsl(0, 0%, 35%);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 15px;
    margin: 5px;
}
.navbar a:hover{
    color: hsl(0, 0%, 0%);;
}
