.cards-container {
    display: flex;
    margin-left: 6%;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    padding: 10px;
    box-sizing:border-box;
}
.card {
    position: relative;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 10px;
    padding-bottom: 30px;
    margin: 10px; /* Відступи між картками */
    width: 300px;
}
.card p{
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    border-radius: 5px;
}
.card img {
    border: 2px hsla(0, 0%, 70%) solid;
    border-radius: 10px;
    width: 100%;
    height: auto;
}


